.leftSideContainer{
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
  gap: 1rem; 
}

.leftSideContainer .leftSideDiv{
  background-color: red;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  border-radius: .5rem;
}

.leftSideDiv:focus{
  background-color: blue;
}